<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/authors/{{page.author_img}}" alt="{{site.name}}">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/+{{site.gplus_username}}/posts">{{page.author}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <p><a itemprop="email" class="email" href="mailto:{{page.author_email}}">{{page.author_email}}</a></p>
        <p><a itemprop="github" class="github" href="https://github.com/{{page.github_username}}">github.com/{{page.github_username}}</a></p>
    </div>
</section>
